<footer class="pt-4 md-5 pt-md-5 border-top my-4">
    <div class="row">
        <div class="col-lg-3 col-md-12  text-center mb-3">
            <a id="ilan" class="btn btn-success" href="/user/createilan" role="button">Ücretsiz İlan Ver</a>
        </div>
        <div class="col-lg-3 col-md-3  text-center">
            <h5>Kurumsal</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Hakkımızda</a></li>
                <li><a class="text-muted" href="#">İnsan Kaynakları</a></li>
                <li><a class="text-muted" href="#">Haberler</a></li>
                <li><a class="text-muted" href="#">İletişim</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <h5>Gizlilik ve Kullanım</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Güvenli Alışverişin İpuçları</a></li>
                <li><a class="text-muted" href="#">Sözleşmeler ve Kurallar</a></li>
                <li><a class="text-muted" href="#">Üyelik Sözleşmesi</a></li>
                <li><a class="text-muted" href="#">Kullanım Koşulları</a></li>
                <li><a class="text-muted" href="#">Kişisel Verilerin Korunması</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3  text-center">
            <h5>
                Bizi Takip Edin
            </h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/ozturkselim99">Github</a></li>
                <li><a class="text-muted" href="https://www.linkedin.com/in/ozturkselim/">Linkedin</a></li>
                <li><a class="text-muted" href="#">Twittter</a></li>
                <li><a class="text-muted" href="#">Instagram</a></li>
                <li><a class="text-muted" href="#">Youtube</a></li>
            </ul>
        </div>
    </div>
</footer>