<header>
    <div class="jumbotron jumbotron-fluid my-2">
        <div class="container">
            <h1 class="display-4">Ücretsiz İlan Ver</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod necessitatibus aut eaque
                labore doloribus praesentium, iusto neque possimus suscipit vitae repudiandae mollitia molestias
                laborum, ad accusamus illo ab veniam. Voluptatibus!
            </p>
        </div>
    </div>
</header>

